In [23]:
import pandas as pd

seznam_cerpacich = pd.read_csv("Seznam_cerpacich_final.csv", sep= ";", encoding = "utf-8")

seznam_cerpacich

,ID,Ulice,Popis umístění,PSČ,Obec,LAU 1,Datum uvedení do provozu,Benzin,Nafta,LPG,CNG,LNG,Vodík,Jiná
0,1,Bohdalecká 3067/33,NaN,101 00,Praha 10,0100,01.11.1996,x,x,NaN,NaN,NaN,NaN,NaN
1,2,Černokostelecká,NaN,100 00,Praha 10,0100,30.09.1997,x,x,NaN,NaN,NaN,NaN,NaN
2,3,Černokostelecká 114,NaN,108 34,Praha 10,0100,01.04.1981,x,x,NaN,NaN,NaN,NaN,NaN
3,4,"Hornoměcholupská, ČS PHM",NaN,109 00,Praha 10,0100,07.01.1999,x,x,NaN,NaN,NaN,NaN,NaN
4,5,Jižní spojka 2580/14,NaN,106 54,Praha 10,0100,01.09.2000,x,x,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3804,3882,"Výškovická, ČS PHM",NaN,700 30,Ostrava-Zábřeh,0806,14.08.2006,x,x,x,NaN,NaN,NaN,NaN
3805,3883,Bílovecká 349,NaN,721 00,Svinov,0806,01.01.2000,x,x,x,NaN,NaN,NaN,NaN
3806,3884,Těšínská 911,bývalá provozovna ČSAD,739 34,Šenov,0806,14.07.2000,x,NaN,NaN,NaN,NaN,NaN,NaN
3807,3885,"Těšínská 911, PS CNG",NaN,739 34,Šenov,0806,01.01.2023,x,NaN,NaN,NaN,NaN,NaN,NaN
3808,3886,"Zámecká 159, ČS PHM",NaN,739 34,Šenov,0806,23.06.2004,x,x,NaN,NaN,NaN,NaN,NaN

In [24]:
seznam_cerpacich[seznam_cerpacich["ID"].isin([288, 337, 1930, 2290, 3187])]

,ID,Ulice,Popis umístění,PSČ,Obec,LAU 1,Datum uvedení do provozu,Benzin,Nafta,LPG,CNG,LNG,Vodík,Jiná
282,288,Na Parkáně 366,NaN,266 01,Beroun,0202,x,x,NaN,NaN,NaN,NaN,NaN,NaN
330,337,"Kročehlavská 1033, ČS LPG",NaN,272 03,Kladno - Dubí,0203,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1891,1930,"Chrastavská, ČS LPG",NaN,460 01,Liberec,0513,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2244,2290,Semtín 100,53353,Pardubice,0532,03.11.2010,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3123,3187,"Brněnská 222, ČS LPG",79601,Prostějov,0713,12.10.2016,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
seznam_cerpacich = seznam_cerpacich[~seznam_cerpacich["ID"].isin([288, 337, 1930, 2290, 3187])]

In [15]:
seznam_cerpacich[seznam_cerpacich["ID"].isin([288, 337, 1930, 2290, 3187])]

Empty DataFrame
Columns: [ID, Ulice, Popis umístění, PSČ, Obec, LAU 1, Datum uvedení do provozu, Benzin, Nafta, LPG, CNG, LNG, Vodík, Jiná]
Index: []

In [16]:
seznam_cerpacich.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3804 entries, 0 to 3808
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        3804 non-null   int64
 1   Ulice                     3804 non-null   object
 2   Popis umístění            812 non-null    object
 3   PSČ                       3804 non-null   object
 4   Obec                      3804 non-null   object
 5   LAU 1                     3804 non-null   object
 6   Datum uvedení do provozu  3804 non-null   object
 7   Benzin                    3804 non-null   object
 8   Nafta                     2804 non-null   object
 9   LPG                       516 non-null    object
 10  CNG                       85 non-null     object
 11  LNG                       77 non-null     object
 12  Vodík                     77 non-null     object
 13  Jiná                      77 non-null     object
dtypes: int64(1), object(13)
memory usage: 445.8+ KB

In [13]:
seznam_cerpacich.columns

Index(['ID', 'Ulice', 'Popis umístění', 'PSČ', 'Obec', 'LAU 1',
       'Datum uvedení do provozu', 'Benzin', 'Nafta', 'LPG', 'CNG', 'LNG',
       'Vodík', 'Jiná'],
      dtype='object')

In [17]:
seznam_cerpacich.drop("LAU 1", axis=1, inplace=True)

C:\Users\sfilo\AppData\Local\Temp\ipykernel_8116\2658183897.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seznam_cerpacich.drop("LAU 1", axis=1, inplace=True)

In [18]:
seznam_cerpacich.rename(columns = {"Jiná":"Ostatní mimo elektřiny"}, inplace = True)

C:\Users\sfilo\AppData\Local\Temp\ipykernel_8116\1020254607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seznam_cerpacich.rename(columns = {"Jiná":"Ostatní mimo elektřiny"}, inplace = True)

In [19]:
cols = list(seznam_cerpacich.columns)
cols.insert(1, cols.pop(cols.index("Datum uvedení do provozu")))
seznam_cerpacich = seznam_cerpacich[cols]

In [21]:
seznam_cerpacich

,ID,Datum uvedení do provozu,Ulice,Popis umístění,PSČ,Obec,Benzin,Nafta,LPG,CNG,LNG,Vodík,Ostatní mimo elektřiny
0,1,01.11.1996,Bohdalecká 3067/33,NaN,101 00,Praha 10,x,x,NaN,NaN,NaN,NaN,NaN
1,2,30.09.1997,Černokostelecká,NaN,100 00,Praha 10,x,x,NaN,NaN,NaN,NaN,NaN
2,3,01.04.1981,Černokostelecká 114,NaN,108 34,Praha 10,x,x,NaN,NaN,NaN,NaN,NaN
3,4,07.01.1999,"Hornoměcholupská, ČS PHM",NaN,109 00,Praha 10,x,x,NaN,NaN,NaN,NaN,NaN
4,5,01.09.2000,Jižní spojka 2580/14,NaN,106 54,Praha 10,x,x,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3804,3882,14.08.2006,"Výškovická, ČS PHM",NaN,700 30,Ostrava-Zábřeh,x,x,x,NaN,NaN,NaN,NaN
3805,3883,01.01.2000,Bílovecká 349,NaN,721 00,Svinov,x,x,x,NaN,NaN,NaN,NaN
3806,3884,14.07.2000,Těšínská 911,bývalá provozovna ČSAD,739 34,Šenov,x,NaN,NaN,NaN,NaN,NaN,NaN
3807,3885,01.01.2023,"Těšínská 911, PS CNG",NaN,739 34,Šenov,x,NaN,NaN,NaN,NaN,NaN,NaN
3808,3886,23.06.2004,"Zámecká 159, ČS PHM",NaN,739 34,Šenov,x,x,NaN,NaN,NaN,NaN,NaN

In [22]:
seznam_cerpacich.to_csv("01_vystup_seznam_cerpacich_stanic.csv", sep=";", index=False, encoding="utf-8")