In [2]:
import pandas as pd

podil_EU = pd.read_csv("podil_OZ_naspotrebe_vEU.csv", sep=",", encoding = "utf-8")

podil_EU

           Země  Podíl obnovitelných   Rok Jednotka
0       Švédsko                66.00  2022        %
1       Švédsko                62.69  2021        %
2       Švédsko                60.12  2020        %
3        Finsko                47.89  2022        %
4       Švédsko                46.10  2010        %
..          ...                  ...   ...      ...
99         Kypr                 6.16  2010        %
100      Belgie                 6.00  2010        %
101       Irsko                 5.76  2010        %
102  Nizozemsko                 3.92  2010        %
103       Malta                 0.98  2010        %

[104 rows x 4 columns]

In [3]:
podil_EU.shape

(104, 4)

In [4]:
podil_EU.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Země                 104 non-null    object
 1   Podíl obnovitelných  104 non-null    float64
 2   Rok                  104 non-null    int64
 3   Jednotka             104 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 3.4+ KB

In [5]:
podil_EU.rename(columns = {"Podíl obnovitelných":"Podíl obnovitelných zdrojů (%)"}, inplace = True)

In [6]:
podil_EU.drop("Jednotka", axis=1, inplace=True)

In [12]:
podil_EU["Země"].value_counts()

Země
Švédsko        4
Finsko         4
Lotyšsko       4
Dánsko         4
Estonsko       4
Rakousko       4
Portugalsko    4
Chorvatsko     4
Litva          4
Slovinsko      4
Rumunsko       4
Bulharsko      4
Řecko          4
Španělsko      4
Německo        4
Itálie         4
Francie        4
Kypr           4
Česko          4
Slovensko      4
Polsko         4
Irsko          4
Maďarsko       4
Nizozemsko     4
Belgie         4
Malta          4
Name: count, dtype: int64

In [13]:
podil_EU

           Země  Podíl obnovitelných zdrojů (%)   Rok
0       Švédsko                           66.00  2022
1       Švédsko                           62.69  2021
2       Švédsko                           60.12  2020
3        Finsko                           47.89  2022
4       Švédsko                           46.10  2010
..          ...                             ...   ...
99         Kypr                            6.16  2010
100      Belgie                            6.00  2010
101       Irsko                            5.76  2010
102  Nizozemsko                            3.92  2010
103       Malta                            0.98  2010

[104 rows x 3 columns]

In [14]:
podil_EU.to_csv("04_vystup_podil_OZ.csv", sep=";", index=False, encoding="utf-8")