In [1]:
import pandas as pd

RSV = pd.read_csv("06_RSV_palivo_EL.csv", sep=",", on_bad_lines="skip", quoting=0, encoding="utf-8", low_memory=False)

RSV.head(20)

,Datum 1 registrace,Datum 1 registrace v ČR,Druh vozidla,Kategorie vozidla,Tovární značka,Palivo,Plně elektrické vozidlo,Hybridní vozidlo,PČV,Rok výroby
0,01.01.1978,06.11.1989,OSOBNÍ AUTOMOBIL,M1,.,BA,NE,NE,3632073,1978
1,01.01.1963,26.06.1995,OSOBNÍ AUTOMOBIL,M1,.,BA,NE,NE,3632075,1963
2,27.05.1971,27.05.1971,OSOBNÍ AUTOMOBIL,M1,ŠKODA,BA,NE,NE,3632078,1971
3,01.01.1984,01.01.1984,OSOBNÍ AUTOMOBIL,M1,ŠKODA,BA,NE,NE,3632079,1984
4,01.01.1973,13.07.1992,OSOBNÍ AUTOMOBIL,M1,ŠKODA,BA,NE,NE,3632080,1973
5,20.04.1970,20.04.1970,OSOBNÍ AUTOMOBIL,M1,ŠKODA,BA,NE,NE,3632081,1970
6,01.01.1975,21.12.2000,OSOBNÍ AUTOMOBIL,M1,ŠKODA,BA,NE,NE,3632082,1975
7,24.02.2006,04.06.2009,OSOBNÍ AUTOMOBIL,M1,OPEL,NM,NE,NE,3632085,2006
8,01.01.1989,25.09.1998,OSOBNÍ AUTOMOBIL,M1,.,BA,NE,NE,3632089,1989
9,01.01.1986,01.01.1986,OSOBNÍ AUTOMOBIL,M1,.,BA,NE,NE,3632091,1986
10,02.08.1960,02.08.1960,Osobní automobil-dodávka,M1,.,BA,NE,NE,3632092,1960
11,22.06.1978,22.06.1978,OSOBNÍ AUTOMOBIL,M1,.,BA,NE,NE,3632093,1978
12,12.09.1974,12.09.1974,OSOBNÍ AUTOMOBIL,M1,.,BA,NE,NE,3632094,1974
13,01.01.1962,10.01.1995,OSOBNÍ AUTOMOBIL,M1,ŠKODA,BA,NE,NE,3632095,1962
14,01.01.1978,16.07.1997,OSOBNÍ AUTOMOBIL,M1,.,BA,NE,NE,3632097,1978
15,01.01.1971,19.06.1995,OSOBNÍ AUTOMOBIL,M1,.,BA,NE,NE,3632098,1971
16,01.01.1990,29.07.1999,OSOBNÍ AUTOMOBIL,M1,.,NM,NE,NE,3632099,1990
17,01.01.1992,21.11.1994,OSOBNÍ AUTOMOBIL,M1,.,BA,NE,NE,3632103,1992
18,01.01.1982,05.04.1995,Osobní automobil-mikrobus (nebo minibus),M1,.,NM,NE,NE,3632104,1982
19,01.01.1991,15.03.1993,OSOBNÍ AUTOMOBIL,M1,.,BA,NE,NE,3632105,1991

In [5]:
RSV["Tovární značka"].value_counts()["TESLA"]

np.int64(9110)

In [6]:
RSV.loc[RSV["Kategorie vozidla"] != "M1"]

Empty DataFrame
Columns: [Datum 1  registrace, Datum 1  registrace v ČR, Druh vozidla, Kategorie vozidla, Tovární značka, Palivo, Plně elektrické vozidlo, Hybridní vozidlo, PČV, Rok výroby]
Index: []

In [7]:
RSV["Plně elektrické vozidlo"].unique()

array(['NE', nan, 'ANO'], dtype=object)

In [1]:
import pandas as pd

df = pd.read_csv("06_RSV_palivo_EL.csv")

df_necisla = df[~df['PČV'].astype(str).str.isnumeric()]

print(df_necisla['PČV'])

39                ZÁNIK
54                ZÁNIK
70          PROVOZOVANÉ
193               ZÁNIK
242         PROVOZOVANÉ
               ...
12426172    PROVOZOVANÉ
12426177    PROVOZOVANÉ
12426179    PROVOZOVANÉ
12426185    PROVOZOVANÉ
12426207    PROVOZOVANÉ
Name: PČV, Length: 1778431, dtype: object

In [4]:
pocet = df[df['PČV'].astype(str).str.contains('PROVOZOVANÉ', na=False)].shape[0]
print(pocet)

955274