In [1]:
import pandas as pd

RSV = pd.read_csv(
    "07_RSV_vlastnik_final.csv",nrows=8000000,sep=";",
    on_bad_lines="skip", quoting=0, encoding="utf-8",low_memory=False)

RSV.head(10)

#Typ subjektu 1 FO s trvalým v CR, 2 PO nebo podnikající FO 3 neztotožněný (zahraniční osoby, historická data)
#Vztah k vozidlu: 1-vlastník, 2-provozovatel

        PČV  Typ subjektu  Vztah k vozidlu         IČO    Datum od    Datum do
0   8766865             3                2         NaN  24.05.1995  05.03.1998
1  10240842             1                2         NaN  29.10.2001  19.12.2011
2   6532518             1                2         NaN  09.03.1993  14.12.1995
3   1629591             1                2         NaN  26.08.1993  30.03.1998
4   4906188             1                2         NaN  20.06.2006  15.08.2007
5   2892799             1                2         NaN  04.06.1992  03.09.1992
6   3892234             1                2         NaN  16.10.2007         NaN
7    994882             3                2         NaN         NaN  09.02.1983
8   2765022             2                2  13690221.0  24.01.1991  07.12.1994
9   7035232             3                2         NaN  02.12.2005  08.12.2005

##### všechny hodnoty v Datum do přejmenovat na NaN a převést do stávajícího 07_RSV_vlastnik_final.csv

In [29]:
import pandas as pd
import numpy as np

df = pd.read_csv("07_RSV_nevalidni_datum_do.csv", sep=";", encoding="utf-8-sig")

# Přepiš celý sloupec 'Datum do' na NaN
df["Datum do"] = np.nan

# Ulož zpět
df.to_csv("07_RSV_nevalidni_datum_do.csv", sep=";", index=False, encoding="utf-8-sig")

print("Všechny hodnoty ve sloupci 'Datum do' byly přepsány na NaN.")

Všechny hodnoty ve sloupci 'Datum do' byly přepsány na NaN.

In [30]:
import pandas as pd

RSV = pd.read_csv(
    "07_RSV_nevalidni_datum_do.csv",sep=";",
    on_bad_lines="skip", quoting=0, encoding="utf-8",low_memory=False)

RSV["Datum do"].unique()

array([nan])

In [31]:
import pandas as pd

opraveny_df = pd.read_csv("07_RSV_nevalidni_datum_do.csv", sep=";", encoding="utf-8-sig")

final_df = pd.read_csv("07_RSV_vlastnik_final.csv", sep=";", encoding="utf-8-sig")

# Připoj opravené řádky na konec
spojene_df = pd.concat([final_df, opraveny_df], ignore_index=True)

spojene_df.to_csv("07_RSV_vlastnik_final.csv", sep=";", index=False, encoding="utf-8-sig")

print("Opravené řádky úspěšně přidány do 07_RSV_vlastnik_final.csv")

Opravené řádky úspěšně přidány do 07_RSV_vlastnik_final.csv

#### to samé u Datum od

In [33]:
import pandas as pd
import numpy as np

df = pd.read_csv("07_RSV_nevalidni_datum_od.csv", sep=";", encoding="utf-8-sig")

# Přepiš celý sloupec 'Datum do' na NaN
df["Datum od"] = np.nan

# Ulož zpět
df.to_csv("07_RSV_nevalidni_datum_od.csv", sep=";", index=False, encoding="utf-8-sig")

print("Všechny hodnoty ve sloupci 'Datum od' byly přepsány na NaN.")

Všechny hodnoty ve sloupci 'Datum od' byly přepsány na NaN.

In [34]:
import pandas as pd

RSV = pd.read_csv(
    "07_RSV_nevalidni_datum_od.csv",sep=";",
    on_bad_lines="skip", quoting=0, encoding="utf-8",low_memory=False)

RSV["Datum od"].unique()

array([nan])

In [36]:
import pandas as pd

# Načti opravený soubor s Datum od = NaN
opraveny_df = pd.read_csv("07_RSV_nevalidni_datum_od.csv", sep=";", encoding="utf-8-sig")

# Připoj na konec souboru bez načítání původního
opraveny_df.to_csv("07_RSV_vlastnik_final.csv", sep=";", index=False, encoding="utf-8-sig", mode="a", header=False)

print("Řádky úspěšně připojeny k 07_RSV_vlastnik_final.csv")

Řádky úspěšně připojeny k 07_RSV_vlastnik_final.csv