In [ ]:
# import pandas as pd

# RSV = pd.read_csv(
#     "07_RSV_vlastnik_provozovatel_vozidla.csv",nrows=4000000,sep=",",
#     on_bad_lines="skip", quoting=0, encoding="utf-8",low_memory=False)

# RSV.head(2)

#Typ subjektu 1 FO s trvalým v CR, 2 PO nebo podnikající FO 3 neztotožněný (zahraniční osoby, historická data)
#Vztah k vozidlu: 1-vlastník, 2-provozovatel

,PČV,Typ subjektu,Vztah k vozidlu,Aktuální,IČO,Název,Adresa,Datum od,Datum do
0,8766865,3,2,False,NaN,ŠTETÍ,NaN,24.05.1995,05.03.1998
1,10240842,1,2,False,NaN,NaN,NaN,29.10.2001,19.12.2011

#### Původní soubor 5,34 GB, zmenšení tím, že vybereme pouze konkrétní sloupce

In [ ]:
import pandas as pd
import csv
import numpy as np

chunk_size = 100_000
output_file_path = "07_RSV_vlastnik_provozovatel_ico.csv"
is_first_chunk = True

for chunked_csv_reader in pd.read_csv(
    "07_RSV_vlastnik_provozovatel_vozidla.csv",
    usecols=[
        "PČV", "Typ subjektu", "Vztah k vozidlu", "IČO", "Datum od", "Datum do"
    ],
    sep=',',
    on_bad_lines="warn",
    quoting=csv.QUOTE_MINIMAL,
    encoding="utf-8",
    low_memory=False,
    chunksize=chunk_size
):
    chunked_csv_reader.to_csv(
        output_file_path,
        mode='w' if is_first_chunk else 'a',
        header=is_first_chunk,
        index=False
    )
    is_first_chunk = False